<h2>
  <%= gettext("Open Registration") %>
  <br>
  <small><%= name_with_flag(@contest) %></small>
</h2>

<hr>

<%= live_render(@conn, JumubaseWeb.Internal.ContestLive.Prepare, session: %{
  "contest_id" => @contest.id
  }) %>
