<h2>
  <%= name(@contest) %>
  <br>
  <small><%= dates(@contest) %></small>
</h2>

<hr>

<%= link gettext("List performances"),
to: internal_contest_performance_path(@conn, :index, @contest),
class: "btn btn-default" %>

<h3> <%= gettext("Categories") %> </h3>

<ul>
  <%= for cc <- @contest.contest_categories do %>
    <li><%= cc.category.name %></li>
  <% end %>
</ul>
