<h2>Juryarbeit</h2>

<p class="lead">
  Diese Materialien helfen dir bei der Einarbeitung deiner Wettbewerbsjury.
</p>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= render "_document_panel.html",
      link: jury_material_link("Das kleine Jury-Handbuch", "Das kleine Jury-Handbuch_Stand 2022.pdf"),
      body: "Ein Handbuch mit Juryrichtlinien und Tipps für die Beratungsgespräche, herausgegeben vom Deutschen Musikrat."
      %>
  </div>
</div>
