<div
  class="schedule-item spacer"
  data-minutes="<%= @minutes %>"
  style="height: <%= item_height(@minutes) %>"
  >
  <span class="text-muted"><%= gettext("Intermission") %> (<%= @minutes %> min)</span>
  <button type="button" class="remove-spacer-button close"><span>&times;</span></button>
</div>
