<h2><%= gettext("New Category") %></h2>

<hr>

<%= render "_form.html",
  conn: @conn,
  path: Routes.internal_category_path(@conn, :create),
  changeset: @changeset,
  submit_title: gettext("Create Category")
  %>
