<h2>
  <%= gettext("Register") %>
  <br>
  <small><%= name_with_flag(@contest) %></small>
</h2>

<hr>

<%= live_render(@conn, JumubaseWeb.PerformanceLive.New, session: %{
    "contest_id" => @contest.id,
    "submit_title" => [gettext("Submit registration"), " ", icon_tag("send")]
  }) %>
