<h2>
  <%= gettext("Register") %>
  <br>
  <small><%= name_with_flag(@contest) %></small>
</h2>

<hr>

<%= render "_form.html",
  conn: @conn,
  path: performance_path(@conn, :create, @contest),
  changeset: @changeset,
  submit_title: [gettext("Submit registration"), " ", icon_tag("send")]
  %>
