<h2><%= gettext("Edit User") %></h2>

<hr>

<%=
  render "form.html", Map.merge(assigns, %{
    action: Routes.internal_user_path(@conn, :update, @user),
    include_password: false,
    host_options: @host_options,
    submit_title: gettext("Save Changes")
  })
%>
