<h2><%= gettext("Edit User") %></h2>

<%=
  render "form.html", Map.merge(assigns, %{
    action: internal_user_path(@conn, :update, @user),
    include_password: false,
    submit_title: gettext("Save Changes")
  })
%>
