<h2><%= gettext("New User") %></h2>

<%=
  render "form.html", Map.merge(assigns, %{
    action: internal_user_path(@conn, :create),
    include_password: true,
    submit_title: gettext("Create User")
  })
%>
