$column-border-width: 1px;
$item-spacing: 4px;
$pixels-per-minute: 4px;

.schedule-column {
  border: $column-border-width solid #eee;
  list-style-type: none;
  margin-top: 0.5 * $line-height-computed;
  min-height: 10 * $pixels-per-minute + 2 * $item-spacing + 2 * $column-border-width;
  padding: $item-spacing 0 0 0;

  .schedule-item {
    background-color: #eee;
    cursor: pointer;
    font-size: 90%;
    margin: $item-spacing;
    margin-top: 0;
    padding: 0 5px;
    position: relative;

    .playtime-bar {
      background-color: #ccc;
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
    }

    span#stage-time {
      display: inline-block;
      width: 3em;
    }

    div.participant-info {
      display: inline-block;
      vertical-align: top;
    }
  }

  .spacer {
    padding: 0 5px; // Vertical padding must be 0 for resizing to work
    position: relative;

    // Change cursor type while spacer is being resized
    &.ui-resizable-resizing { cursor: ns-resize; }

    .remove-spacer-button { font-size: 18px; }

    .ui-resizable-handle {
      background-color: #ddd;
      border-radius: 5px;
      bottom: 4px;
      cursor: ns-resize;
      height: 5px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 12.5%;
    }
  }
}
