.schedule-column {
  border: 1px solid #eee;
  cursor: pointer;
  list-style-type: none;
  margin: 1em 0 0 0;
  min-height: 40px;
  padding: 5px 0 0 0;

  .schedule-item {
    background-color: #eee;
    font-size: 1.2em;
    height: 40px;
    margin: 0 5px 5px 5px;
    padding: 5px;
  }

  .spacer {
    position: relative;

    .ui-resizable-handle {
      background-color: #ddd;
      cursor: ns-resize;
      height: 10px;
      position: absolute;
    }

    .ui-resizable-s {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
