$link-hover-decoration: none;
$font-size-base: 16px;
$icon-font-path: "/fonts/"; /* use fonts from priv/static/fonts/ */

@import "bootstrap";

/* Hide empty flash messages */
.alert:empty { display: none; }
