{
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true
  }
}
