<%= for %{participant: p, instrument: i} <- @appearances do %>
  <strong><%= full_name(p) %></strong>,
  <%= instrument_name(i) %>
  <span class="text-muted">(* <%= birthdate(p) %>)</span>
  <br>
<% end %>
