<%= for appearance <- @appearances do %>
  <%= if @style == :detail do %>
    <strong><%= full_name(appearance.participant) %></strong>
  <% else %>
    <%= full_name(appearance.participant) %>
  <% end %>
  ,
  <%= instrument_name(appearance.instrument) %>
  <%= age_group_badge(appearance) %>
  <br>
<% end %>
