<%= for piece <- @pieces do %>
  <p>
    <strong><%= person_name(piece) %></strong>
    <%= if composer_dates(piece), do: "(#{composer_dates(piece)})" %>
    <br>
    <%= piece.title %>
    <br>
    <span class="text-muted"><%= duration(piece) %>
    /
    <%= gettext("Epoch") %> <%= epoch_tag(piece) %></span>
  </p>
<% end %>
