<h2>
  <%= gettext("Edit performance") %>
  <br>
  <small><%= name_with_flag(@contest) %></small>
</h2>

<hr>

<%= live_render(@conn, JumubaseWeb.Internal.PerformanceLive.Edit, session: %{
  "contest_id" => @contest.id,
  "performance_id" => @performance.id,
  "submit_title" => gettext("Save Changes")
  }) %>
