<h2>
  <%= gettext("Performance Details") %>
  <br>
  <small><%= category_name(@performance) %></small>
  <br>
</h2>

<hr>

<p>
  <%= gettext("Edit code") %>: <code><%= @performance.edit_code %></code>
</p>

<h3><%= gettext("Participants") %></h3>

<%= for %{participant: p, instrument: i} <- @performance.appearances do %>
  <strong><%= full_name(p) %></strong>,
  <%= instrument_name(i) %>
  <span class="text-muted">(* <%= birthdate(p) %>)</span>
  <br>
<% end %>
