<%= if @errors != [] do %>
  <div class="alert alert-danger">
    <p>
      <%= gettext("Please fix these errors and try again:") %>
    </p>
    <p>
      <%= error_list_tag(@errors) %>
    </p>
  </div>
<% end %>
