<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", conn: @conn %>

  <body>
    <header class="header">
      <%= render "nav.html", conn: @conn, current_user: @current_user %>
    </header>

    <main role="main" class="container">
      <%= if assigns[:breadcrumbs] do %>
        <%= render "breadcrumbs.html", conn: @conn, breadcrumbs: @breadcrumbs %>
      <% end %>

      <%= render "flash.html", conn: @conn %>

      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts." <> @view_template, assigns %>
  </body>
</html>
