<header class="header">
  <%= render "nav.html", conn: @conn, current_user: @current_user %>
</header>

<main role="main" class="container">
  <%= if assigns[:breadcrumbs] do %>
    <%= render "breadcrumbs.html", assigns: @conn.assigns, breadcrumbs: @breadcrumbs %>
  <% end %>

  <%= render "flash.html", conn: @conn %>

  <%= @inner_content %>
</main>

<%= render_existing view_module(@conn), "scripts." <> view_template(@conn), assigns %>
