<header class="header">
  <%= render "nav.html", conn: @conn, current_user: assigns[:current_user] %>
</header>

<main role="main" class="container">
  <h2><%= @heading %></h2>

  <p class="lead">
    <%= @message %>
  </p>
</main>
