<p class="alert alert-info" role="alert"><%= live_flash(@flash, :info) %></p>
<p class="alert alert-success" role="alert"><%= live_flash(@flash, :success) %></p>
<p class="alert alert-warning" role="alert"><%= live_flash(@flash, :warning) %></p>
<p class="alert alert-danger" role="alert"><%= live_flash(@flash, :error) %></p>
