<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag() %>

    <%= live_title_tag assigns[:page_title] || title() %>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>

    <!-- We can't use `defer` here while are <script> tags in the body that rely on app.js code, such as `scheduler()` -->
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <!-- Mapbox, used for the host map on the start page -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Privacy-friendly analytics via Plausible -->
    <script async defer data-domain="jumu-weltweit.org" src="https://plausible.io/js/plausible.js"></script>

    <%= render "favicons.html" %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
