<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Neue Jumu-Website</h3>
    </div>
    <div class="panel-body">
      Die offizielle Website von Jugend musiziert wird derzeit runderneuert! Ab Mitte Oktober 2023 findest du dort <b>auch die Wettbewerbe der Deutschen Schulen im Ausland</b>, inklusive aller Sonderkategorien und dem Anmeldeformular.
    </div>
  </div>
</div>
