<h2><%= gettext("Contact") %></h2>

<p class="lead">
  <%= gettext("Here is how you can get in touch with us.") %>
</p>

<hr>

<div class="row">
  <div class="col-sm-7">
    <h3><%= gettext("Member schools") %></h3>

    <%= render "_accordion.html",
      id: "hosts-accordion",
      items: Enum.map(@hosts, &to_accordion_item/1)
    %>
  </div>
</div>
