<h1>Jumu ♫ weltweit</h1>

<p class="lead">
  <%= gettext("The website for “Jugend musiziert” at German schools abroad") %>
</p>

<hr>

<div class="row">
  <div class="col-md-6">
    <%= render("_host_map.html", data: @host_map_data) %>
  </div>

  <%= welcome_or_registration_phase_panel(@conn) %>

  <%= maybe_rw_phase_panel(@conn) %>

  <%= render("_lw_phase_panel.html") %>
</div>
