<h2><%= gettext("Registration") %></h2>

<p class="lead">
  <%= gettext("Here you can register for your local \"Jugend musiziert\" contest.") %>
</p>

<ul>
  <%= for contest <- @contests do %>
    <li><%= link contest_name(contest), to: performance_path(@conn, :new, contest) %></li>
  <% end %>
</ul>
