<h2>Rules</h2>

<p class="lead">
  The competition rules are not available in English yet.
  <br>
  For now, please refer to the German version of this website or
  <%= link "contact us", to: page_path(@conn, :contact) %>.
</p>
